name: Documentation

on:
  workflow_dispatch:
  pull_request:

#concurrency:
#  group: ${{ github.workflow }}-${{ github.ref }}
#  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  manual:
    name: Build manual
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: gap-actions/setup-gap@v2
        with:
          GAP_PKGS_TO_BUILD: ''
      - uses: gap-actions/build-pkg-docs@v1
        with:
          use-latex: 'true'
      - name: 'Upload PDF manual'
        uses: actions/upload-artifact@v4
        with:
          name: Vole manual (PDF)
          path: ./doc/manual.pdf
          if-no-files-found: error
          retention-days: 3
      - name: 'Upload HTML manual'
        uses: actions/upload-artifact@v4
        with:
          name: Vole manual (HTML)
          path: |
            doc/*.html
            doc/*.css
            doc/*.js
          if-no-files-found: error
          retention-days: 3
